services:
  nginx:
    image: nginx:1.22
    ports:
      - 80:80
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./site:/usr/share/nginx/html

  php-fpm:
    image: php:8.2.29-fpm
    volumes:
      - ./site:/var/www/html
